.energy-programs {
  padding-top: 3px;
}

.energy-programs__list {
  padding: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .energy-programs__list {
    margin-top: 55px;
  }
}

@media (min-width: @desktop-width) {
  .energy-programs__list {
    display: flex;
    justify-content: space-between;
  }
}

.energy-programs__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: @light-grey;
}

.energy-programs__item::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 22px;
  width: 50px;
  height: 50px;
  background-color: @mohito;
  border-radius: 50%;
}

.energy-programs__item--slim::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 30px;
  width: 35px;
  height: 49px;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
}

.energy-programs__item--pro {
  margin-top: 23px;
}

.energy-programs__item--pro::after {
  content: "";
  position: absolute;
  top: 34px;
  left: 13px;
  width: 67px;
  height: 28px;
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .energy-programs__item {
    position: relative;
    margin: 0;
    padding-bottom: 40px;
    margin-bottom: 30px;

    &::before {
      content: "";
      position: absolute;
      top: 92px;
      left: 446px;
      width: 200px;
      height: 200px;
      background-color: @mohito;
      border-radius: 50%;
    }

    &--pro::before {
      left: 448px;
    }

    &--slim::after {
      content: "";
      position: absolute;
      top: 80px;
      left: 476px;
      width: 140px;
      height: 194px;
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
    }

    &--pro::after {
      content: "";
      position: absolute;
      top: 135px;
      left: 413px;
      width: 268px;
      height: 112px;
      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: @tablet-width) {
  .energy-programs__item--pro {
    margin-top: 32px;
  }
}

@media (min-width: @desktop-width) {
  .energy-programs__item {
    width: 570px;

    &::before {
      top: 45px;
      left: 52px;
      width: 100px;
      height: 100px;
    }

    &--slim::after {
      top: 40px;
      left: 67px;
      width: 70px;
      height: 97px;
    }

    &--pro {
      margin-top: 0;
    }

    &--pro::after {
      top: 68px;
      left: 35px;
      width: 134px;
      height: 56px;
    }
  }
}

.energy-programs__title {
  padding-left: 90px;
  padding-top: 5px;
  font-size: @smaller + 10;
  line-height: @bigger + 1;
  font-weight: @regular;
  color: @text-color;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .energy-programs__title {
    margin: 71px 0 21px 54px;
    padding-left: 0;
    font-size: @bigger;
    line-height: @bigger + 1;
  }
}

@media (min-width: @desktop-width) {
  .energy-programs__title {
    margin-left: 215px;
  }
}

.energy-programs__text {
  width: 240px;
  margin: 0 0 0 20px;
  padding-top: 5px;
  padding-bottom: 21px;
  font-family: "Arial", sans-serif;
  font-size: @smaller;
  line-height: @smaller + 4;
  font-weight: @regular;
  color: @base-text-color;
}

@media (max-width: @mobile-width-only) {
  .energy-programs__text {
    border-bottom: 1px solid rgba(48, 48, 48, 0.1);
  }
}

@media (min-width: @tablet-width) {
  .energy-programs__text {
    width: 375px;
    margin-left: 54px;
    margin-bottom: 15px;
    font-size: @smaller + 2;
    line-height: @smaller + 10;
  }

  .energy-programs__text--pro {
    width: 340px;
  }
}

@media (min-width: @desktop-width) {
  .energy-programs__text {
    margin-top: 48px;
    margin-bottom: 0;
    width: 465px;
  }
}

.energy-programs__button {
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: @smaller + 2;
  line-height: @smaller + 2;
  font-weight: @regular;
  color: @text-color;
  text-transform: uppercase;

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

.energy-programs__button::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 97px;
  width: 24px;
  height: 11px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
}

.energy-programs__button:hover::after {
  width: 33px;
  background-image: url("../img/icon-right-arrow-verylong.svg");
}

.energy-programs__button--pro::after {
  left: 95px;
}

@media (min-width: @tablet-width) {
  .energy-programs__button {
    margin-left: 54px;
    font-size: @smaller + 6;
    line-height: @smaller + 6;

    &::after {
      top: 4px;
      left: 132px;
    }

    &--pro::after {
      left: 126px;
    }
  }
}

@media (min-width: @desktop-width) {
  .energy-programs__button {
    margin-top: 10px;
  }
}
