.social__list {
  display: flex;
  justify-content: space-around;
  padding: 25px 0 17px 0;
  list-style: none;
  width: 162px;
  margin: 0;
  margin-left: 55px;
}

@media (min-width: @tablet-width) {
  .social__list {
    padding: 0;
    margin-left: 25px;
    margin-top: 5px;
    width: 155px;
  }
}

@media (min-width: @tablet-width) {
  .social__item {
    transform: scale(1.4);

    &:nth-child(2) {
      margin-top: 2px;
    }
  }
}

.social__link {
  path {
    fill: #666666;
  }

  &:hover {
    path {
      fill: @mohito;
    }
  }

  &:active {
    path {
      fill: rgba(104, 183, 56, 0.3);
    }
  }
}

.social__link--instagram:hover {
  circle {
    fill: @mohito;
  }
}

.social__link--instagram:active {
  circle {
    fill: rgba(104, 183, 56, 0.3);
  }
}
