.additional-products {
  outline: 1px solid #0e5105;
}

.additional-products__title {
  font-size: @smaller + 10;
  line-height: @smaller + 10;
  font-weight: @regular;
  color: @text-color;
}

.additional-products__list {
  list-style: none;
}

.additional-products__name {
  font-size: @smaller + 2;
  line-height: @smaller + 2;
  font-weight: @regular;
  color: @dark-grey;
  text-transform: uppercase;
}

.additional-products__row {
  font-family: "Arial", sans-serif;
  font-size: @smaller;
  line-height: @smaller;
  font-weight: @regular;
  color: @base-text-color;
}
