.addition {
  padding: 10px 0 15px 0;
}

@media (min-width: @tablet-width) {
  .addition {
    padding: 10px 0 12px 0;
  }
}

.addition__title {
  position: relative;
  margin-top: 15px;
  margin-bottom: 40px;

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 185px;
    width: 100%;
    height: 3px;
    background-color: @mohito;
  }
}

@media (min-width: @tablet-width) {
  .addition__title {
    margin-top: 53px;
    margin-bottom: 57px;
    margin-left: 40px;

    &::before {
      content: "";
      position: absolute;
      top: 20px;
      right: 710px;
      width: 100%;
      height: 3px;
      background-color: @mohito;
    }

    &::after {
      top: 20px;
      left: 320px;
    }
  }
}

@media (min-width: @desktop-width) {
  .addition__title {
    margin-left: 0;
    margin-top: 54px;

    &::before {
      content: "";
      position: absolute;
      top: 20px;
      right: 1260px;
      width: 100%;
      height: 3px;
      background-color: @mohito;
    }

    &::after {
      top: 20px;
      left: 350px;
    }
  }
}

.addition__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .addition__wrapper {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 655px;
    padding-top: 10px;
    margin-left: 53px;
    //margin-left: 6%;
  }
}

@media (min-width: @desktop-width) {
  .addition__wrapper {
    width: 100%;
    margin-left: 0;
  }
}

.addition__field {
  margin-bottom: 24px;
  padding-left: 46px;
}

.addition__item {
  display: none;
}

@media (min-width: @tablet-width) {
  .addition__field {
    width: 266px;
    margin-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .addition__field {
    width: 245px;
    padding-left: 0;
  }
}

.addition__item-text {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: @smaller + 2;
  line-height: @smaller + 4;
  font-weight: @regular;
  color: @dark-grey;
  text-transform: uppercase;

  &:disabled {
    color: rgba(34, 34, 34, 0.3);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -45px;
    width: 28px;
    height: 28px;
    border: 1px solid #cfcfcf;
    cursor: pointer;
  }

  &:hover::before,
  &:hover::after {
    border: 1px solid #bababa;
  }

  &:disabled::before,
  &:disabled::after {
    border: 1px solid rgba(186, 186, 186, 0.3);
  }

}

@media (min-width: @tablet-width) {
  .addition__item-text {
    font-size: @smaller + 6;
    line-height: @smaller + 6;

    &::before,
    &::after {
      top: -4px;
      left: -58px;
      width: 38px;
      height: 38px;
    }
  }
}

@media (min-width: @desktop-width) {
  .addition__item-text {
    padding-left: 60px;

    &::before,
    &::after {
      top: -4px;
      left: 0;
    }
  }
}

#sweetener:checked ~ .addition__item-text::after,
#water:checked ~ .addition__item-text::after,
#milk:checked ~ .addition__item-text::after,
#vitamins:checked ~ .addition__item-text::after {
  width: 18px;
  height: 9px;
  border: 2px solid @mohito;
  border-top: none;
  border-right: none;
  border-radius: 0;
  transform: rotate(-45deg) translateX(-2px) translateY(8px);
}

@media (min-width: @tablet-width) {
  #sweetener:checked ~ .addition__item-text::after,
  #water:checked ~ .addition__item-text::after,
  #milk:checked ~ .addition__item-text::after,
  #vitamins:checked ~ .addition__item-text::after {
    width: 18px;
    height: 9px;
    border: 2px solid @mohito;
    border-top: none;
    border-right: none;
    border-radius: 0;
    transform: rotate(-45deg) translateX(1px) translateY(16px);
  }
}
