.catalog__title {
  margin: 0;
  padding: 0;
  margin-top: 13px;
}

@media (min-width: @tablet-width) {
  .catalog__title {
  padding-top: 38px;
  }
}

@media (min-width: @desktop-width)  {
  .catalog__title {
    padding-top: 25px;
  }
}

.catalog__list {
  padding: 0;
  margin: 0;
  margin-top: 28px;
  margin-bottom: 30px;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog__item {
  outline: 1px solid pink;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  border-top: 1px solid rgba(41, 41, 41, 0.2);
}

@media (min-width: @tablet-width) {
  .catalog__item {
    width: 252px;
    padding: 0 36px;
    margin-top: 136px;
    margin-bottom: 10px;
    background-color: @light-grey;
  }
}

@media (min-width: @desktop-width) {
  .catalog__item {
    width: 170px;
    padding: 0 37px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__item:not(:nth-child(4n)) {
    margin-right: 80px;
  }
}

@media (min-width: @tablet-width) {
  .catalog__pic-wrapper {
    outline: 1px solid pink;
    height: 195px;
    transform: translateY(-80px);
  }
}

@media (min-width: @tablet-width) {
  .catalog__item-text {
    margin-top: -50px;
  }
}

.catalog__item-info {
  display: flex;
}

@media (min-width: @tablet-width) {
  .catalog__item-info {
    flex-direction: column;
  }
}

.catalog__name {
  padding: 0;
  margin: 0;
  margin-left: 4px;
  margin-top: 21px;
  margin-bottom: 11px;
  font-size: @smaller + 2;
  line-height: @smaller + 6;
  font-weight: @regular;
  color: @text-color;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .catalog__name {
    margin: 20px auto 17px auto;
    width: 130px;
    font-size: @smaller + 6;
    line-height: @smaller + 6;
    text-align: center;
  }

  .catalog__name br {
    display: none;
  }
}

.catalog__findings {
  font-family: "Arial", sans-serif;
  font-size: @smaller - 2;
  line-height: @smaller;
  font-weight: @regular;
  color: @base-text-color;
}

@media (min-width: @tablet-width) {
  .catalog__findings {
    font-size: @smaller + 2;
    line-height: @smaller + 2;
  }
}

.catalog__data {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

@media (min-width: @tablet-width) {
  .catalog__data {
    width: 252px;
    padding-bottom: 6px;
    padding-top: 7px;
    border-bottom: 1px solid rgba(41, 41, 41, 0.2);
  }
}

@media (min-width: @desktop-width) {
  .catalog__data {
    width: 170px;
  }
}

.catalog__button {
  padding: 10px 0;
}

@media (min-width: @tablet-width) {
  .catalog__button {
    padding: 11px 0;
    margin: 30px 0;
  }
}

@media (min-width: @tablet-width) {
  .catalog__more {
    background-color: @white;
  }
}

.catalog__more-button .st0 {
  fill: rgba(41, 41, 41, 0.2);
}

.catalog__more-button  {
  margin-left: 125px;
  margin-top: 28px;
}

@media (min-width: @tablet-width) {
  .catalog__more-button  {
    width: 60px;
    height: 60px;
    margin: 72px auto 0 auto;
    margin-top: 72px;
  }
}

.catalog__more-text {
  padding-top: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: @smaller + 2;
  line-height: @smaller + 6;
  font-weight: @regular;
  color: @text-color;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .catalog__more-text {
    width: 140px;
    align-self: center;
    padding-top: 60px;
    font-size: @smaller + 6;
    line-height: @smaller + 6;
  }
}

.catalog__more-slogan {
  margin-top: 10px;
  font-family: "Arial", sans-serif;
  font-size: @smaller - 2;
  line-height: @smaller + 2;
  font-weight: @regular;
  color: @base-text-color;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .catalog__more-slogan {
    margin-top: 25px;
    margin-bottom: 65px;
    width: 170px;
    font-size: @smaller + 2;
    line-height: @smaller + 4;
    align-self: center;
  }
}

.catalog__all-button {
  margin-top: 20px;
  margin-bottom: 23px;
  color: @base-text-color;
  background-color: @light-grey;
}
