.catalog {
  outline: 1px solid #B400A0;
}

.catalog__list {
  padding: 0;
  list-style: none;
}

.catalog__item {
  outline: 1px solid #D6A145;
  margin-bottom: 25px;
}

.catalog__name {
  font-size: @smaller + 2;
  line-height: @smaller + 6;
  font-weight: @regular;
  color: @text-color;
  text-transform: uppercase;
}

.catalog__findings {
  font-family: 'Arial', sans-serif;
  font-size: @smaller - 2;
  line-height: @smaller + 2;
  font-weight: @regular;
  color: @base-text-color;
}

.catalog__more-text {
  font-size: @smaller + 2;
  line-height: @smaller + 6;
  font-weight: @regular;
  color: @text-color;
  text-transform: uppercase;
}

.catalog__more-slogan {
  font-family: 'Arial', sans-serif;
  font-size: @smaller - 2;;
  line-height: @smaller + 2;
  font-weight: @regular;
  color: @base-text-color;
}

.catalog__all-button {
  color: @base-text-color;
  background-color: @light-grey;
}
