.live-case {
  outline: 1px solid #0f4d24;
  background-color: @light-grey;
}

.live-case__text {
  font-family: "Arial", sans-serif;
  font-size: @smaller;
  line-height: @smaller + 4;
  font-weight: @regular;
  color: @base-text-color;
}

.live-case__row {
  list-style: none;
}

.live-case__resources {
  font-size: @smaller + 10;
  line-height: @smaller + 10;
  font-weight: @regular;
  color: @text-color;
}

.live-case__result {
  font-family: "Arial", sans-serif;
  font-size: @smaller - 2;
  line-height: @smaller - 2;
  font-weight: @regular;
  color: @base-text-color;
}

.live-case__food-costs {
  font-size: @smaller;
  line-height: @smaller + 6;
  font-weight: @regular;
  color: @text-color;
  text-transform: uppercase;
}

.live-case__left,
.live-case__right {
  font-size: @smaller + 2;
  line-height: @smaller + 6;
  font-weight: @regular;
  color: @text-color;
  text-transform: uppercase;
}
