.page-intro {
  padding-top: 25px;
  padding-bottom: 25px;
  outline: 1px solid #4853E6;
}

.page-intro__title {
  margin: 0;
  padding-bottom: 20px;
  font-size: @bigger;
  line-height: @bigger;
  font-weight: @regular;
  color: @white;
  text-align: center;
}

.page-intro__slogan {
  font-size: @smaller;
  line-height: @smaller;
  font-weight: @regular;
  color: @white;
  text-transform: uppercase;
}

.page-intro__button {
  font-size: @smaller;
  line-height: @smaller + 4;
}
