.page-footer {
  outline: 2px solid #47229d;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: @light-grey;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
