body {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: @smaller;
  line-height: @smaller + 4;
  font-weight: @regular;
  background-color: @white;
  color: @base-text-color;
}

.index-energy-wrapper {
  background: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top 12% center;
}

@media (min-width: @tablet-width) {
  .index-energy-wrapper {
    background: none;
  }
}

@media (min-width: @desktop-width) {
  .index-energy-wrapper {
    background: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top right;
  }
}

.index-energy-wrapper,
.catalog-energy-wrapper,
.form-energy-wrapper {
  width: 320px;
  outline: 1px solid blue;
}

@media (min-width: @tablet-width) {
  .index-energy-wrapper,
  .catalog-energy-wrapper,
  .form-energy-wrapper {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .index-energy-wrapper,
  .catalog-energy-wrapper,
  .form-energy-wrapper {
    width: 1440px;
  }
}

.container {
  outline: 1px solid @red;
  width: 280px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .container {
    outline: 1px solid green;
    width: 708px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .container {
    outline: 1px solid green;
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  cursor: pointer;
  text-decoration: @nondecorated;
}
