@red: #F00A0A;
@mohito: #68B738;
@text-color: #111111;
@base-text-color: #444444;
@light-grey: #F2F2F2;
@white: #FFFFFF;
@black: #000000;
@nondecorated: none;
@large: 60px;
@bigger: 36px;
@smaller: 14px;
@bold: 800;
@medium: 500;
@regular: 400;
